{% for message in messages %}
  <div class="alert {{ message.tags }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message|safe }}
  </div>
{% endfor %}

<form method="POST" action="{% url 'pasword_reset' %}">
	{% csrf_token %}
	<input type="hidden" name="resetPassword" value="True" />
	<label for="email" >ایمیل شما</label>
	<input type="email" name="email" placeholder="لینک تایید ساخت اکانت به این آدرس فرستاده می‌شود" required>
	<br>
	<button type="submit" >درخواست ایمیل فعال‌سازی اکانت</button>
</form>
